{% extends 'base.html.twig' %}

{% block body %}

    <p><a href="{{ url('addplace', { 'travelId': travel.id }) }}">Add Place</a>

    </p>

{{travel.name}}<br/><br/>
depart: {{travel.startDateTime.date}} <br/>
return: {{travel.endDateTime.date}}<br/>

{% for place in travel.places %}
      <a href="{{ url('addplace', { 'travelId': travel.id, 'placeId': place.id }) }}">edit</a>{{ place.visitDateTime.date }}:  {{ place.name }} <br />
{% endfor %}

{% endblock %}
