{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}: {{travel.name}}{% endblock %}
{% block body %}

{% if user != null %}
    <p><a href="{{ url('addplace', { 'travelId': travel.id }) }}">Add Place</a>
{% endif %}

    </p>

{{travel.name}}<br/><br/>
depart: {{travel.startDateTime.date}} <br/>
return: {{travel.endDateTime.date}}<br/>

{% for place in travel.places %}
        {% if user != null %}
            <a href="{{ url('addplace', { 'travelId': travel.id, 'placeId': place.id }) }}">edit</a>
        {% endif %}
      {{ place.visitDateTime.date }}:  {{ place.name }} <br />
{% endfor %}

{% endblock %}
