
MENU: 
    [<a href="{{ path('car_add_fuelling', {'carId': car.id}) }}">Dodaj tankowanie</a> ]
    [<a href="{{ path('car_add_cost', {'carId': car.id}) }}">Dodaj koszt</a> ]

<br><br>

samoch贸d: {{car.make.name}} {{car.model.name}} <br/>
zatankowanych litr贸w: {{car.calculateTankedLitresVolume()}}<br/>

suma koszt贸w paliwa: {{car.totalFuelCosts}} <br/>
suma koszt贸w: {{car.allCostAmount}} <br/>
<hr>
<table border="1">
    <tr>
        <th>id.</th>
        <th>data</th>
        <th>licznik</th>
        <th>litry</th>
        <th>cena/litr</th>
        <th>cena tankowania</th>
    </tr>
{% for fueling in car.fuelings %}
    <tr>
        <td>{{ fueling.id }}</td>
        <td>{{ fueling.dateTime.format('Y-m-d') }}</td>
        <td>{{ fueling.Mileage }}</td>
        <td>{{ fueling.litresTanked }}</td>
        <td>{{ fueling.pricePerLiter }}</td>
        <td>{{ fueling.amount }}</td>
    </tr>
{% endfor %}
</table>

<hr>

<table border="1">
    <tr>
        <th>typ</th>
        <th>data</th>
        <th>licznik</th>
        <th>cena</th>
    </tr>
{% for cost in car.costs %}
    <tr>
        <td>{{ cost.getTypeName() }}</td>
        <td>{{ cost.dateTime.format('Y-m-d') }}</td>
        <td>{{ cost.Mileage }}</td>
        <td>{{ cost.amount }}</td>
    </tr>
{% endfor %}
</table>

