{% extends 'CarBundle:Default:main.html.twig' %}
{% block content %}

MENU: 
    [<a href="{{ path('car_add_fuelling', {'carId': car.id}) }}">Dodaj tankowanie</a> ]
    [<a href="{{ path('car_add_cost', {'carId': car.id}) }}">Dodaj koszt</a> ]
    [<a href="{{ path('car_edit_car', {'carId': car.id}) }}">Edytuj auto</a> ]

<br><br>

samochód: {{car.make.name}} {{car.model.name}} <br/>
przebieg: {{car.mileage}} <br/>
zatankowanych litrów: {{car.totalTankedLitres}}<br/>
średnie spalanie: {{car.averageFuelConsumption}}<br/>

suma kosztów paliwa: {{car.totalFuelCosts}} <br/>
suma kosztów: {{car.allCostAmount}} <br/>
<hr>
<table border="1">
    <tr>
        <th>.</th>
        <th>data</th>
        <th>licznik</th>
        <th>litry</th>
        <th>cena/litr</th>
        <th>cena tankowania</th>
        <th>dystans</th>
        <th>spalanie</th>
    </tr>
{% for fueling in car.fuelings %}
    <tr>
        <td><a href="{{ path('car_edit_fueling', {'fuelingId': fueling.id}) }}"> edit </a></td>
        <td>{{ fueling.dateTime.format('Y-m-d') }}</td>
        <td>{{ fueling.Mileage }}</td>
        <td>{{ fueling.litresTanked }}</td>
        <td>{{ fueling.pricePerLiter }}</td>
        <td>{{ fueling.amount }}</td>
        <td>{{ fueling.getDistanceFromPrievous() }}</td>
        <td>{{ fueling.getFuelConsumptionFromPrievous() }}</td>
    </tr>
{% endfor %}
</table>

<hr>

<table border="1">
    <tr>
        <th>.</th>
        <th>typ</th>
        <th>opis</th>
        <th>data</th>
        <th>licznik</th>
        <th>cena</th>
    </tr>
{% for cost in car.costs %}
    <tr>
        <td> <a href="{{ path('car_edit_cost', {'costId': cost.id}) }}"> edit </a></td>
        <td>{{ cost.getTypeName() }}</td>
        <td>{{ cost.description }}</td>
        <td>{{ cost.dateTime.format('Y-m-d') }}</td>
        <td>{{ cost.Mileage }}</td>
        <td>{{ cost.amount }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}