{% extends 'CarBundle:Default:main.html.twig' %}
{% block content %}

{% if app.user %}
MENU:
    [<a href="{{ path('car_add_fuelling', {'carId': car.id}) }}">{% trans %}Add fueling{% endtrans %}</a>]
    [<a href="{{ path('car_add_cost', {'carId': car.id}) }}">{% trans %}Add cost{% endtrans %}</a>]
    [<a href="{{ path('car_edit_car', {'carId': car.id}) }}">{% trans %}Edit vehicle{% endtrans %}</a>]
 {% else %}
    {% trans %}User is not logged in. Some features are disabled{% endtrans %}. <a href="{{ url('fos_user_security_login') }}">{% trans %}Please log-in{% endtrans %}</a>
 {% endif %}
<br><br>

{% trans %}Car{% endtrans %}: {{car.make.name}} {{car.model.name}} <br/>
{% trans %}Mileage{% endtrans %}: {{car.mileage}} <br/>
{% trans %}Tanked litres volume{% endtrans %}: {{car.totalTankedLitres}}<br/>
{% trans %}Average fuel consumption{% endtrans %} {{car.averageFuelConsumption}}<br/>

{% trans %}Total fuel cost{% endtrans %}: {{car.totalFuelCosts|number_format(2,'.', '')}} <br/>
{% trans %}Total tax costs{% endtrans %}: --TODO-- <br/>
{% trans %}Total reperair costs{% endtrans %}: --TODO-- <br/>
{% trans %}Total service costs{% endtrans %}: --TODO-- <br/>
{% trans %}Total accesory costs{% endtrans %}: --TODO-- <br/>
{% trans %}Total insurance costs{% endtrans %}: --TODO-- <br/>
{% trans %}Total other costs{% endtrans %}: --TODO-- <br/>
{% trans %}Total camper costs{% endtrans %}: --TODO-- <br/>
{% trans %}All cost total{% endtrans %}: {{car.allCostAmount|number_format(2,'.', '') }} <br/>
<hr>


<table class="tg">
    <tr>
        <th class="tg-yw4l">.</th>
        <th class="tg-yw4l">{% trans %}Date{% endtrans %}</th>
        <th class="tg-yw4l">{% trans %}Odometer{% endtrans %}</th>
        <th class="tg-yw4l">{% trans %}Litres{% endtrans %}</th>
        <th class="tg-yw4l">{% trans %}Price/liter{% endtrans %}</th>
        <th class="tg-yw4l">{% trans %}Paid amount{% endtrans %}a</th>
        <th class="tg-yw4l">{% trans %}Trip odometer{% endtrans %}</th>
        <th class="tg-yw4l">{% trans %}Fuel consumption{% endtrans %}</th>
    </tr>
{% for fueling in car.fuelings %}
    <tr>
        <td class="tg-yw4l">{% if app.user and app.user.id == car.user %}<a href="{{ path('car_edit_fueling', {'fuelingId': fueling.id}) }}"><img src="{{ asset('pencil-icon.png') }}" width="16" alt="{% trans %}Edit{% endtrans %}"/></a>{% endif %}</td>
        <td class="tg-yw4l">{{ fueling.dateTime.format('Y-m-d') }}</td>
        <td class="tg-yw4l">{{ fueling.Mileage }}</td>
        <td class="tg-yw4l">{{ fueling.litresTanked }}</td>
        <td class="tg-yw4l">{{ fueling.pricePerLiter|number_format(2,'.', '') }}</td>
        <td class="tg-yw4l">{{ fueling.amount|number_format(2,'.', '') }}</td>
        <td class="tg-yw4l">{{ fueling.getDistanceFromPrievous() }}</td>
        <td class="tg-yw4l">{{ fueling.getFuelConsumptionFromPrievous() }}</td>
    </tr>
{% endfor %}
</table>

<hr>

<table class="tg">
    <tr>
        <th class="tg-yw4l">.</th>
        <th class="tg-yw4l">{% trans %}Type{% endtrans %}</th>
        <th class="tg-yw4l">{% trans %}Description{% endtrans %}</th>
        <th class="tg-yw4l">{% trans %}Date{% endtrans %}</th>
        <th class="tg-yw4l">{% trans %}Odometer{% endtrans %}</th>
        <th class="tg-yw4l">{% trans %}Amount{% endtrans %}</th>
    </tr>
{% for cost in car.costs %}
    <tr>
        <td class="tg-yw4l" align="center"> {% if app.user and app.user.id == car.user %} <a href="{{ path('car_edit_cost', {'costId': cost.id}) }}"><img src="{{ asset('pencil-icon.png') }}" width="16" alt="{% trans %}Edit{% endtrans %}"/></a>{% endif %}</td>
        <td class="tg-yw4l">{{ cost.getTypeName() }}</td>
        <td class="tg-yw4l">{{ cost.description }}</td>
        <td class="tg-yw4l">{{ cost.dateTime.format('Y-m-d') }}</td>
        <td class="tg-yw4l">{{ cost.Mileage }}</td>
        <td class="tg-yw4l">{{ cost.amount|number_format(2,'.', '') }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
