{% extends 'CarBundle:Default:main.html.twig' %}
{% block content %}

{% if app.user %}
MENU:
    [<a href="{{ path('car_add_fuelling', {'carId': car.id}) }}">Dodaj tankowanie</a> ]
    [<a href="{{ path('car_add_cost', {'carId': car.id}) }}">Dodaj koszt</a> ]
    [<a href="{{ path('car_edit_car', {'carId': car.id}) }}">Edytuj auto</a> ]
 {% else %}
    User is not logged in. Some features are disabled. <a href="{{ url('fos_user_security_login') }}">Please log-in</a>
 {% endif %}
<br><br>

samochód: {{car.make.name}} {{car.model.name}} <br/>
przebieg: {{car.mileage}} <br/>
zatankowanych litrów: {{car.totalTankedLitres}}<br/>
średnie spalanie: {{car.averageFuelConsumption}}<br/>

suma kosztów paliwa: {{car.totalFuelCosts}} <br/>
suma kosztów: {{car.allCostAmount}} <br/>
<hr>


<table class="tg">
    <tr>
        <th class="tg-yw4l">.</th>
        <th class="tg-yw4l">data</th>
        <th class="tg-yw4l">licznik</th>
        <th class="tg-yw4l">litry</th>
        <th class="tg-yw4l">cena/litr</th>
        <th class="tg-yw4l">cena tankowania</th>
        <th class="tg-yw4l">dystans</th>
        <th class="tg-yw4l">spalanie</th>
    </tr>
{% for fueling in car.fuelings %}
    <tr>
        <td class="tg-yw4l">{% if app.user and app.user.id == car.user %}<a href="{{ path('car_edit_fueling', {'fuelingId': fueling.id}) }}"><img src="{{ asset('pencil-icon.png') }}" width="16" alt="edit"/></a>{% endif %}</td>
        <td class="tg-yw4l">{{ fueling.dateTime.format('Y-m-d') }}</td>
        <td class="tg-yw4l">{{ fueling.Mileage }}</td>
        <td class="tg-yw4l">{{ fueling.litresTanked }}</td>
        <td class="tg-yw4l">{{ fueling.pricePerLiter }}</td>
        <td class="tg-yw4l">{{ fueling.amount }}</td>
        <td class="tg-yw4l">{{ fueling.getDistanceFromPrievous() }}</td>
        <td class="tg-yw4l">{{ fueling.getFuelConsumptionFromPrievous() }}</td>
    </tr>
{% endfor %}
</table>

<hr>

<table class="tg">
    <tr>
        <th class="tg-yw4l">.</th>
        <th class="tg-yw4l">typ</th>
        <th class="tg-yw4l">opis</th>
        <th class="tg-yw4l">data</th>
        <th class="tg-yw4l">licznik</th>
        <th class="tg-yw4l">cena</th>
    </tr>
{% for cost in car.costs %}
    <tr>
        <td class="tg-yw4l" align="center"> {% if app.user and app.user.id == car.user %} <a href="{{ path('car_edit_cost', {'costId': cost.id}) }}"><img src="{{ asset('pencil-icon.png') }}" width="16" alt="edit"/></a>{% endif %}</td>
        <td class="tg-yw4l">{{ cost.getTypeName() }}</td>
        <td class="tg-yw4l">{{ cost.description }}</td>
        <td class="tg-yw4l">{{ cost.dateTime.format('Y-m-d') }}</td>
        <td class="tg-yw4l">{{ cost.Mileage }}</td>
        <td class="tg-yw4l">{{ cost.amount }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}