{% extends 'CarBundle:Ramble:main.html.twig' %}
{% block content %}

    <div class="container">
        <h3 class="title">{% trans %}Car{% endtrans %}: {{car.make.name}} {{car.model.name}}: {{action}}</h3>
        <div class="cost wow fadeInLeft animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div style="height:100px;"></div>
    </div>

   <div class="clearfix"> </div>

{% endblock %}
