<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>{% trans %}Auto budget{% endtrans %} {% block titleExt %}{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="all">
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/car.css') }}">
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Ramble Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <!-- //js -->
    <!--animate-->
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet" type="text/css" media="all">
    <script src="{{ asset('js/wow.min.js') }}"></script>
        <script>
             new WOW().init();
        </script>
	{% block javascripts %}{% endblock %}
    <!--//end-animate-->
</head>

<body>
    <!--header-->
	<div class="header">
		<div class="container">
			<div class="header-info navbar-left wow fadeInLeft animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
				<p>{% trans %}Auto budget{% endtrans %}</p>
			</div>
			<div class="navbar-form navbar-right wow fadeInRight animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
				<div class="form-group">
                    <div data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s; color:#FFF">
                        {% if app.user %}
                            {{ app.user.username }}
                        {% else %}
                           {% trans %}User is not logged in. Some features are disabled{% endtrans %}.
                           <a href="{{ url('fos_user_security_login') }}">{% trans %}Please log-in{% endtrans %}</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!--//header-->
	<!--navigation-->
	<div class="top-nav">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;" href="index.html">{% trans %}Auto budget{% endtrans %}</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li class="hvr-bounce-to-bottom {% if app.request.attributes.get('_route') == 'car_home'%} active {% endif %}"><a href="{{ path('car_home') }}">Home</a></li>
						<li class="hvr-bounce-to-bottom"><a href="#about" class="scroll">About</a></li>
						<li class="hvr-bounce-to-bottom {% if app.request.attributes.get('_route') == 'car_list_of_cars'%} active {% endif %}" ><a href="{{ path('car_list_of_cars') }}">{% trans %}Car list{% endtrans %}</a></li>
						<li class="hvr-bounce-to-bottom"><a href="#gallery" class="scroll">Gallery</a></li>
						<li class="hvr-bounce-to-bottom"><a href="#contact" class="scroll">Contact Us</a></li
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		</nav>
	</div>

    {% block content %}{% endblock %}



    <!--footer-->
	<div class="footer wow fadeInRight animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
		<div class="container">
			<p>Copyright © 2016 Włóczynutka. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
	<!--//footer-->
	<!-- banner-text Slider starts Here -->
		<script src="{{ asset('js/responsiveslides.min.js') }}"></script>
		 <script>
			// You can also use "$(window).load(function() {"
				$(function () {
				// Slideshow 3
					$("#slider3").responsiveSlides({
					auto: true,
					pager:true,
					nav:true,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					$('.events').append("<li>before event fired.</li>");
					},
					after: function () {
						$('.events').append("<li>after event fired.</li>");
					}
				});
			});
		</script>
		<!--//End-slider-script -->
		<!-- start-smoth-scrolling-->
		<script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
		<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
		</script>
		<!--//end-smoth-scrolling-->
		<!--smooth-scrolling-of-move-up-->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear'
				};
				*/

				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>

</body>
</html>